@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-adlam: "ADLaM Display", serif;
  --font-sora: "Sora", serif;

  --color-orange-light: rgba(255, 249, 244, 1);
  --color-yellow-primary: rgba(255, 220, 38, 1);
  --color-yellow-hover: rgba(238, 205, 34, 1);
  --color-black-primary: #111111;
  --color-black-a1: rgba(17, 17, 17, 0.7);
  --color-yellow-a1:rgba(249, 223, 138, 1);
  --color-black-light: rgba(17, 17, 17, 0.1);
  --color-light-orange: rgba(254, 244, 236, 1);
  --color-golden: rgba(255, 193, 7, 1);
  --color-secondary-yellow: rgba(255, 249, 244, 1);
  --color-footer-yellow: rgba(255, 220, 38, 0.5);
}